// COLORS

$primary-color: #015d7b;
$primary-color-light: #b1c4ca;
$secondary-color: #2D4654;
$secondary-color-dark: #152026;
$accent-color: #ECC30B;
$primary-font-color: #ECF2F6;
$secondary-font-color: #040F16;
$transparent: rgba(255, 255, 255, 0);
$off-white: rgba(255, 255, 255, 0.5);

:root {
    --secondary-color: #{rgba($secondary-color, 0.95)};
  }

// FONT SIZES

$xxl-font: 3.25rem;
$xl-font: 2.75rem;
$large-font: 2.25rem;
$medium-1-font: 1.75rem;
$medium-2-font: 1.5rem;
$small-font: 1.25rem;
$smaller-font: 1rem;
$tiny-font: 0.75rem;

// BOXES AND BORDERS
$base-border: solid 2px $off-white;
$base-border-radius: 7px;
$base-padding: 16px;
$base-margin: 16px;
$wide-margin: 100px;
$base-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
$button-box-shadow:
    inset -5px -5px 5px -3px rgba(0, 0, 0, 0.5),
    inset 4px 4px 5px $off-white,
    4px 7px 5px rgba(0, 0, 0, 0.25);

//CONTAINER WIDTHS
$regular-paragraph: 450px;
$medium-paragraph: 500px;
$wide-paragraph: 550px;
$xl-wide-paragraph: 800px;
$xxl-wide-paragraph: 1000px;

//ELEMENTS
:root {
  --arrow-content-right: "\2BC8"; // Unicode arrow right character
  --arrow-content-down: "\2BC6"; // Unicode downward arrow character
}




