@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --secondary-color: rgba(45, 70, 84, 0.95);
}

:root {
  --arrow-content-right: "⯈";
  --arrow-content-down: "⯆";
}

/* TEXT STYLES */
h1 {
  color: #ECF2F6;
  font-size: 3.25rem;
  margin: 32px 0;
  font-family: Sansita, "Lucida Sans", "Trebuchet MS";
  text-align: center;
  margin: 64px 0;
}

h2 {
  color: #ECF2F6;
  font-size: 2.75rem;
  margin: 32px 0;
  font-family: Sansita, "Lucida Sans", "Trebuchet MS";
  margin: 64px 0;
}

h3 {
  color: #ECF2F6;
  font-size: 2.25rem;
  margin: 32px 0;
  font-family: Sansita, "Lucida Sans", "Trebuchet MS";
}

h4 {
  color: #ECF2F6;
  font-size: 1.75rem;
  margin: 32px 0;
  font-family: Barlow, "Verdana", "Tahoma";
  font-weight: 800;
}

h5 {
  color: #ECF2F6;
  font-size: 1.5rem;
  margin: 32px 0;
  font-family: Barlow, "Verdana", "Tahoma";
  font-weight: 800;
}

h6 {
  color: #ECF2F6;
  font-size: 1.25rem;
  margin: 32px 0;
  font-family: Barlow, "Verdana", "Tahoma";
  font-weight: 800;
}

p.large {
  color: #ECF2F6;
  font-size: 1.5rem;
  margin: 32px 0;
  font-family: Barlow, "Verdana", "Tahoma";
  font-weight: 400;
}

p {
  color: #ECF2F6;
  font-size: 1.25rem;
  margin: 32px 0;
  font-family: Barlow, "Verdana", "Tahoma";
  font-weight: 400;
}

p.small {
  color: #ECF2F6;
  font-size: 1rem;
  margin: 32px 0;
  font-family: Barlow, "Verdana", "Tahoma";
  font-weight: 400;
}

p.tiny {
  color: #ECF2F6;
  font-size: 0.75rem;
  margin: 32px 0;
  font-family: Barlow, "Verdana", "Tahoma";
  font-weight: 300;
  margin: 16px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

main.container {
  margin-bottom: 100px;
  min-height: 75vw;
}
main.container .main-content {
  margin-top: 100px;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.align-self-center {
  display: flex;
  align-self: center;
}

.flex-dir-row {
  flex-direction: row;
}

.p-container-regular {
  max-width: 450px;
  margin: 0;
}

.p-container-medium {
  max-width: 500px;
  margin: 0;
}

.p-container-wide {
  max-width: 550px;
  margin: 0;
}

.text-container-wide-centered {
  max-width: 800px;
  margin: 0;
  display: flex;
  align-self: center;
}

.text-container-extra-wide-centered {
  max-width: 1000px;
  margin: 0;
  display: flex;
  align-self: center;
}

.text-container-wide-left {
  max-width: 800px;
  margin: 0;
  display: flex;
  align-self: flex-start;
}

.text-container-extra-wide-left {
  max-width: 1000px;
  margin: 0;
  display: flex;
  align-self: flex-start;
}
@media (min-width: 720px) {
  .text-container-extra-wide-left {
    margin: 0 100px;
  }
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.align-flex-start {
  align-content: flex-start;
}

.align-flex-end {
  align-content: flex-end;
}

.align-center {
  align-content: center;
}

.align-space-between {
  align-content: space-between;
}

.align-space-around {
  align-content: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.card-test {
  width: auto;
  height: 100px;
  background-color: #2D4654;
  padding: 16px;
  display: flex;
  align-items: center;
}

.wp-block-columns {
  display: flex;
  padding: 100px 0;
  gap: 5em;
}

.narrow-columns.wp-block-columns {
  gap: 1em;
  padding: 0;
  margin: 0;
}

.narrow-col.wp-block-column {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.narrow-col.wp-block-column p {
  margin: 0;
}

.wp-block-column {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 720px) {
  .wp-block-column {
    flex-direction: row;
  }
}

.wp-block-group.image-and-text {
  margin: 0 0 100px;
}

.wp-block-image {
  margin: 0;
}

.wp-block-image.horizontal img {
  margin: 50px 0;
}

.col-right-align {
  padding-top: 0;
}
.col-right-align .wp-block-group__inner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
}
.col-right-align .wp-block-column {
  align-self: flex-start;
}

.wp-block-separator {
  margin: 100px;
  border: 0px solid;
}

/* BASE */
body {
  margin: 0;
  background: #015d7b;
  background: linear-gradient(90deg, #152026 0, #2D4654 30%, #015d7b 50%, #2D4654 70%, #152026 100%);
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: #ECF2F6;
  font-weight: 600;
  transition: color 0.3s ease;
}
a:hover {
  color: #c9dae6;
}
a:active {
  color: #a7c3d5;
}
a:visited {
  color: #a7c3d5;
}

.base-margin {
  margin: 16px;
}

.base-margin-left {
  margin: 0 0 0 16px;
}

.wide-margin {
  margin: 100px 0;
}

.no-margin-bottom, p.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-top {
  padding-top: 0;
}

.wpadminbar {
  position: fixed;
}

/* BUTTONS */
.primary-btn {
  color: #ECF2F6;
  font-size: 1.25rem;
  margin: 32px 0;
  font-family: Barlow, "Verdana", "Tahoma";
  font-weight: 600;
  display: inline-block;
  padding: 8px 32px;
  margin: 16px 0px;
  background-color: #ECC30B;
  color: #040F16;
  border: none;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: inset -5px -5px 5px -3px rgba(0, 0, 0, 0.5), inset 4px 4px 5px rgba(255, 255, 255, 0.5), 4px 7px 5px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
  white-space: nowrap;
}
.primary-btn:hover {
  background-color: #f7d84d;
  color: #103b57;
}
.primary-btn:active {
  background-color: #bb9b09;
  color: black;
}
.primary-btn:visited {
  color: #040F16;
}

.secondary-btn {
  color: #ECF2F6;
  font-size: 1.25rem;
  margin: 32px 0;
  font-family: Barlow, "Verdana", "Tahoma";
  font-weight: 600;
  display: inline-block;
  padding: 8px 32px;
  margin: 16px 0px;
  background-color: #b1c4ca;
  color: #040F16;
  border: none;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: inset -5px -5px 5px -3px rgba(0, 0, 0, 0.5), inset 4px 4px 5px rgba(255, 255, 255, 0.5), 4px 7px 5px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
  white-space: nowrap;
}
.secondary-btn:hover {
  background-color: #dfe6e9;
  color: #103b57;
}
.secondary-btn:active {
  background-color: #93adb5;
  color: black;
}
.secondary-btn:visited {
  color: #040F16;
}

.tertiary-btn {
  color: #ECF2F6;
  font-size: 1.25rem;
  margin: 32px 0;
  font-family: Barlow, "Verdana", "Tahoma";
  font-weight: 600;
  display: inline-block;
  padding: 8px 32px;
  margin: 16px 0px;
  background-color: rgba(255, 255, 255, 0);
  color: #ECF2F6;
  border: none;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: inset -5px -5px 5px -3px rgba(0, 0, 0, 0.5), inset 4px 4px 5px rgba(255, 255, 255, 0.5), 4px 7px 5px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
  white-space: nowrap;
  border: solid 2px rgba(255, 255, 255, 0.5);
  box-shadow: none;
  text-decoration: underline;
}
.tertiary-btn:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
.tertiary-btn:active {
  background-color: rgba(230, 230, 230, 0);
  color: #c9dae6;
}
.tertiary-btn:visited {
  color: #ECF2F6;
}
.tertiary-btn:hover {
  color: #c9dae6;
}
.tertiary-btn:active {
  color: #a7c3d5;
}

.large-btn {
  color: #ECF2F6;
  font-size: 2.25rem;
  margin: 32px 0;
  font-family: Barlow, "Verdana", "Tahoma";
  font-weight: 600;
}

/* NAVIGATION */
.menu-primary-navigation-menu-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  justify-content: center;
}
.menu-primary-navigation-menu-container ul {
  margin-left: -16px;
  margin-right: -16px;
}
.menu-primary-navigation-menu-container ul li {
  list-style: none;
  display: inline-block;
  padding: 0 16px;
}
.menu-primary-navigation-menu-container ul li a {
  text-decoration: none;
  color: #ECF2F6;
  font-weight: 600;
  color: #ECF2F6;
  font-size: 1.25rem;
  margin: 32px 0;
  font-family: Barlow, "Verdana", "Tahoma";
  font-weight: 200;
  text-transform: uppercase;
  transition: text-decoration 0.5s ease;
}
.menu-primary-navigation-menu-container ul li a:hover {
  text-decoration: overline;
}
.menu-primary-navigation-menu-container ul li a:active {
  text-decoration: overline;
}
.menu-primary-navigation-menu-container .sub-menu {
  background-color: #2D4654;
  display: none;
  flex-direction: column;
  position: absolute;
  padding: 8px 0;
  z-index: 9999;
}
.menu-primary-navigation-menu-container .sub-menu a {
  text-transform: capitalize;
  transition: text-shadow 0.5s ease;
}
.menu-primary-navigation-menu-container .sub-menu a:hover {
  text-decoration: none;
  text-shadow: 1px 2px 3px #b1c4ca;
}
.menu-primary-navigation-menu-container .sub-menu a:active {
  text-decoration: none;
}
.menu-primary-navigation-menu-container .sub-menu .menu-item-object-page {
  display: none;
}

.desktop-nav {
  display: none;
}
@media (min-width: 960px) {
  .desktop-nav {
    display: block;
  }
}

.menu-icon {
  display: block;
}
@media (min-width: 960px) {
  .menu-icon {
    display: none;
  }
}

.mobile-nav {
  display: none;
  flex-direction: column;
  height: 100vh;
  padding: 16px 48px;
  position: absolute;
  background-color: #152026;
  text-align: left;
  top: 100px;
  right: -20%;
  z-index: 9999;
}
@media (min-width: 0) {
  .mobile-nav {
    width: 100%;
  }
}
@media (min-width: 720px) {
  .mobile-nav {
    width: 70%;
  }
}
.mobile-nav .menu-primary-navigation-menu-container {
  justify-content: flex-start;
}
.mobile-nav .menu-primary-navigation-menu-container .menu-item-object-page {
  display: inline-block;
}
.mobile-nav #menu-primary-navigation-menu-1 {
  display: flex;
  flex-direction: column;
}
.mobile-nav #menu-primary-navigation-menu-1 li {
  margin: 16px 0;
}
.mobile-nav #menu-primary-navigation-menu-1 a {
  font-size: 1.5rem;
  transition: text-shadow 0.5s ease;
}
.mobile-nav #menu-primary-navigation-menu-1 a:hover {
  text-decoration: none;
}
.mobile-nav #menu-primary-navigation-menu-1 a:active {
  text-decoration: none;
  text-shadow: 1px 2px 3px #b1c4ca;
}
.mobile-nav ul.menu > .menu-item-has-children > a::after {
  content: var(--arrow-content-right);
  margin-left: 5px;
  transition: transform 0.3s ease-in-out;
}
.mobile-nav ul.menu > .menu-item-has-children > a.rotate::after {
  content: var(--arrow-content-down);
}
.mobile-nav .sub-menu {
  margin: 16px 0;
}
.mobile-nav .sub-menu li {
  margin: 8px 0;
}

.mobile-nav.open {
  display: flex;
  align-items: flex-start;
}

header.container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1300px;
  min-height: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 7px 7px;
  z-index: 8888;
}

.header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  flex-direction: row;
}
.header .main-nav-btn {
  display: none;
}
@media (min-width: 960px) {
  .header .main-nav-btn {
    display: block;
  }
}

.minna-logo {
  height: 60px;
  width: auto;
  margin: 16px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.footer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  flex-direction: row;
  max-width: 800px;
  height: 200px;
}

.wp-block-contact-form-7-contact-form-selector {
  width: 70%;
}
.wp-block-contact-form-7-contact-form-selector form .input-field, .wp-block-contact-form-7-contact-form-selector form textarea {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-right-color: #b1c4ca;
  border-bottom-color: #b1c4ca;
  border-left-color: #2D4654;
  border-top-color: #2D4654;
  border-width: 2px;
  border-style: solid;
  color: #040F16;
}
.wp-block-contact-form-7-contact-form-selector form ::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 960px) {
  .image-tall-left {
    transform: translateY(-20%);
  }
}

.col-container .text-container-extra-wide-left {
  margin: 0;
}

.portfolio-image-main-container {
  margin-top: 100px;
}

.category-image-row .wp-block-group__inner-container {
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  width: 100%;
  z-index: 0;
}
.category-image-row .wp-block-group__inner-container .wp-block-image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.7;
}

@media (min-width: 0) {
  .image-group-1, .image-group-2, .image-group-3, .image-group-4 {
    display: flex;
    flex-wrap: wrap;
  }
  .image-group-1 figure:nth-child(1), .image-group-2 figure:nth-child(1), .image-group-3 figure:nth-child(1), .image-group-4 figure:nth-child(1) {
    display: block;
  }
  .image-group-1 figure:nth-child(2),
  .image-group-1 figure:nth-child(3),
  .image-group-1 figure:nth-child(4), .image-group-2 figure:nth-child(2),
  .image-group-2 figure:nth-child(3),
  .image-group-2 figure:nth-child(4), .image-group-3 figure:nth-child(2),
  .image-group-3 figure:nth-child(3),
  .image-group-3 figure:nth-child(4), .image-group-4 figure:nth-child(2),
  .image-group-4 figure:nth-child(3),
  .image-group-4 figure:nth-child(4) {
    display: none;
  }
}
@media (min-width: 480px) {
  .image-group-1 figure:nth-child(2), .image-group-2 figure:nth-child(2), .image-group-3 figure:nth-child(2), .image-group-4 figure:nth-child(2) {
    display: block;
  }
}
@media (min-width: 960px) {
  .image-group-1 figure:nth-child(3), .image-group-2 figure:nth-child(3), .image-group-3 figure:nth-child(3), .image-group-4 figure:nth-child(3) {
    display: block;
  }
}
@media (min-width: 1400px) {
  .image-group-1 figure:nth-child(4), .image-group-2 figure:nth-child(4), .image-group-3 figure:nth-child(4), .image-group-4 figure:nth-child(4) {
    display: block;
  }
}

.image-group-2 .wp-block-group__inner-container {
  transform: translate(-50%, 100%);
}

.image-group-3 .wp-block-group__inner-container {
  transform: translate(-50%, 200%);
}

.image-group-4 .wp-block-group__inner-container {
  transform: translate(-50%, 300%);
}

.category-container {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  align-self: center;
  gap: 25px;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(1, 104, 143, 0.8) 50%, rgba(0, 212, 255, 0) 100%);
}
.category-container a {
  margin: 25px;
  width: 100vw;
}
@media (min-width: 720px) {
  .category-container a {
    margin: 50px;
  }
}
@media (min-width: 720px) {
  .category-container a {
    width: 80%;
  }
}

.category-heading {
  color: #040F16;
  background: radial-gradient(circle, #ECC30B 25%, rgba(0, 0, 0, 0) 100%);
  padding: 15px 0;
  margin: 0;
  opacity: 0.85;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease, color 0.3s ease;
}
.category-heading:hover {
  color: #103b57;
  transform: translateY(-5px);
}
.category-heading:active {
  color: black;
}
@media (min-width: 0) {
  .category-heading {
    font-size: 1.5rem;
  }
}
@media (min-width: 720px) {
  .category-heading {
    font-size: 1.75rem;
  }
}
@media (min-width: 960px) {
  .category-heading {
    font-size: 2.25rem;
  }
}
@media (min-width: 1200px) {
  .category-heading {
    font-size: 2.75rem;
  }
}

.category-description.text-container-wide-centered p {
  color: #ECF2F6;
  font-size: 1.5rem;
  margin: 32px 0;
  font-family: Barlow, "Verdana", "Tahoma";
  font-weight: 400;
}

.grid-container .grid-cell {
  position: relative;
  display: grid;
  align-items: end;
}
.grid-container h2 {
  color: #ECF2F6;
  font-size: 1.75rem;
  margin: 32px 0;
  font-family: Barlow, "Verdana", "Tahoma";
  font-weight: 800;
}
.grid-container .wp-block-group.image-and-text {
  margin: 0;
}
.grid-container .wp-block-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  overflow: hidden;
}
.grid-container .wp-block-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.image-and-text .wp-block-group__inner-container {
  display: flex;
}
.image-and-text .wp-block-group__inner-container .wp-block-group .wp-block-group__inner-container {
  display: block;
}

/*# sourceMappingURL=style.css.map */
