.no-margin-bottom, p.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}
.no-padding-top {
    padding-top: 0;
}

.image-tall-left {
    @include lg;
    @media (min-width: map-get($breakpoints, "lg")) {
        transform: translateY(-20%);
    }
}

.col-container{
    .text-container-extra-wide-left {
        margin: 0;
    }
}

