.gradient-overlay {
    left: 0;
    position: absolute;
    height: 55vw;
    width: 100%;
    background: radial-gradient(circle, rgb(231 230 240) 0%, rgba(0, 212, 255, 0) 50%);
}

.category-image-row {
    position: absolute;
    left: 50%;
    width: 100%;
    z-index: 0000;
    .wp-block-group__inner-container {
        transform: translate(-50%, 0);
        display: flex;
        flex-direction: row;
        .wp-block-image img {
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.image-group-1, .image-group-2, .image-group-3, .image-group-4  {
    @include xs {
        display: flex;
        flex-wrap: wrap;
        figure:nth-child(1) {
            display: block;
        }
        figure:nth-child(2),
        figure:nth-child(3),
        figure:nth-child(4) {
            display: none;
        }
    }
    @include sm {
        figure:nth-child(2) {
            display: block;
        }
    }
    @include md {
        figure:nth-child(3) {
            display: block;
        }
    }
    @include xl {
        figure:nth-child(4) {
            display: block;
        }
    }
}

.image-group-2 {
    .wp-block-group__inner-container {
        transform: translate(-50%, 100%);
    }
}

.image-group-3 {
    .wp-block-group__inner-container {
        transform: translate(-50%, 200%);
    }
}

.image-group-4 {
    .wp-block-group__inner-container {
        transform: translate(-50%, 300%);
    }
}

.category-container {
    top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    align-self: center;
    gap: 50px;
}

.category-heading {
    color: $secondary-font-color;
    background: $accent-color;
    padding: 15px 0;
    opacity: 0.85;
    z-index: 7777;
    display: flex;
    justify-content: center;
    &:hover {
        background-color: lighten($accent-color, 15%);
    }
    &:active {
        background-color: darken($accent-color, 10%);
    }
/*     @include xs {
        font-size: 1.5rem;
    } */
}