/* BUTTONS */

@mixin button($background-color, $text-color) {
    display: inline-block;
    padding: 10px 30px;
    background-color: $background-color;
    color: $text-color;
    border: none;
    border-radius: $base-border-radius;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: $base-box-shadow;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($background-color, $amount: 5%)
    }

    &:active {
        background-color: darken($background-color, $amount: 10%)
    }
}

.primary-btn {
    @include button ($accent-color, $secondary-font-color);
    @include button-text;
}

.secondary-btn {
    @include button ($secondary-button-color, $secondary-font-color);
    @include button-text;
}