@mixin button($background-color, $text-color) {
    display: inline-block;
    padding: 10px 30px;
    background-color: $background-color;
    color: $text-color;
    border: none;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow:
        inset -5px -5px 5px -3px rgba(0, 0, 0, 0.5),
        inset 4px 4px 5px $secondary-button-color,
        4px 7px 5px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($background-color, $amount: 5%)
    }

    &:active {
        background-color: darken($background-color, $amount: 10%)
    }
}

.primary-btn {
    @include button ($accent-color, $secondary-font-color);
    @include button-text;
}

.secondary-btn {
    @include button ($secondary-button-color, $secondary-font-color);
    @include button-text;
}