/* NAVIGATION */

.menu-primary-navigation-menu-container {
    @include flex-layout;
    justify-content: center;
    ul {
        margin-left: -$base-padding;
        margin-right: -$base-padding;
        li {
            list-style: none;
            display: inline-block;
            padding: 0 $base-padding;
            a {
                @include link;
                @include paragraph-font($small-font, 200);
                text-transform: uppercase;
                transition: text-decoration 0.5s ease;

                &:hover {
                    text-decoration: overline;
                }
                &:active {
                    text-decoration: overline;
                }
            }
        }
    }
    .sub-menu {
        background-color: $primary-color-light;
        display: flex;
        flex-direction: column;
        visibility: hidden;
        position: absolute;
        a {
            color: $secondary-font-color;
            transition: color 0.5s ease;
            &:hover {
                text-decoration: none;
                color: $primary-font-color;
            }
            &:active {
                text-decoration: none;
            }
        }
    }

    .sub-menu.open {
        visibility: visible;
    }
}