/* NAVIGATION */

%flex-layout {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: border-box;
}

.primary-nav {
    @extend %flex-layout;
    justify-content: center;
    ul {
        margin-left: -$base-padding;
        margin-right: -$base-padding;
        li {
            list-style: none;
            display: inline-block;
            padding: 0 $base-padding;
            a {
                @include link;
                @include paragraph-font($small-font, 200);
                text-transform: uppercase;
                transition: text-decoration 0.5s ease;

                &:hover {
                    text-decoration: overline;
                }
                &:active {
                    text-decoration: overline;
                }
            }
        }
    }
}