/* BASE */

body {
    margin: 0;
    background: $primary-color;
    background: repeating-linear-gradient(
        to bottom,
        $primary-color,
        $primary-color 15%,
        $secondary-color 30%,
        $primary-color 45%,
        $secondary-color 60%,
        $primary-color 75%,
        $secondary-color 100%,
      );
}

ul {
    padding: 0;
}

a {
    @include link;
    transition: color 0.3s ease;
    &:hover {
        color: darken($primary-font-color, $amount: 10%);
    }
    &:active {
        color: darken($primary-font-color, $amount: 20%);
    }
    &:visited {
        color: darken($primary-font-color, $amount: 20%);
    }
}