/* BASE */

body {
    margin: 0;
    background: $primary-color;
    background: linear-gradient(
        90deg,
        $secondary-color-dark 0,
        $secondary-color 30%,
        $primary-color 50%,
        $secondary-color 70%,
        $secondary-color-dark 100%);
}

ul {
    padding: 0;
}

a {
    @include link ($primary-font-color);
    transition: color 0.3s ease;
    &:hover {
        color: darken($primary-font-color, $amount: 10%);
    }
    &:active {
        color: darken($primary-font-color, $amount: 20%);
    }
    &:visited {
        color: darken($primary-font-color, $amount: 20%);
    }
}

.base-margin {
    margin: $base-margin;
}

.base-margin-left {
    margin: 0 0 0 16px;
}

.wide-margin {
    margin: $wide-margin 0;
}

.no-margin-bottom, p.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.no-padding-top {
    padding-top: 0;
}

.wpadminbar {
    position: fixed;
}
