@mixin header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1300px;
    min-height: 100px;
}

/* .header-hover-area {
    @include header;
    z-index: 9999;
    .header-background {
    @include header;
        box-shadow: $base-box-shadow;
        border-radius: 0 0 $base-border-radius $base-border-radius;
        background-color: $transparent;
        z-index: -1;
    }
}

.header-hover-area:hover ~ .header-background {
    background-color: $accent-color;
  } */

  // The above didn't really work. New implementation to be tried in ChatGPT

header.container {
    @include flex-layout;
    @include header;
    z-index: 8888;
}

.header {
    @include flex-layout;
    flex-direction: row;
}

.minna-logo {
    height: 60px;
    width: auto;
    margin: $base-margin 0;
    box-shadow: $base-box-shadow;
}