header.container {
    @include flex-layout;
    max-width: 1300px;
    min-height: 100px;
    box-shadow: $base-box-shadow;
    border-radius: $base-border-radius $base-border-radius;
}

.header {
    @include flex-layout;
    flex-direction: row;
}

.minna-logo {
    height: 60px;
    width: auto;
    margin: $base-margin 0;
    box-shadow: $base-box-shadow;
}