@mixin header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1300px;
    min-height: 100px;
    box-shadow: $base-box-shadow;
    border-radius: 0 0 $base-border-radius $base-border-radius;
}

header.container {
    @include flex-layout;
    @include header;
    z-index: 8888;
}

.header {
    @include flex-layout;
    flex-direction: row;
    .main-nav-btn {
        display: none;
        @include lg {
            display: block;
        }
    }
}

.minna-logo {
    height: 60px;
    width: auto;
    margin: $base-margin 0;
    box-shadow: $base-box-shadow;
}