.wp-block-columns {
    display: flex;
    padding: 100px 0;
    gap: 5em;
}

.narrow-columns.wp-block-columns {
    gap: 1em;
    padding: 0;
    margin: 0;
}

.narrow-col.wp-block-column {
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p {
        margin: 0;
    }
}

.wp-block-column {
    @include md;
    @media (min-width: map-get($breakpoints, "md")) {
        flex-direction: row;
    }
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.wp-block-group.image-and-text {
    margin: 0 0 $wide-margin;
}

.wp-block-image {
    margin: 0;
}

.wp-block-image.horizontal img {
    margin: $wide-margin / 2 0;
}

.col-right-align {
    padding-top: 0;
    .wp-block-group__inner-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-content: flex-end;
    }
    .wp-block-column {
        align-self: flex-start;
    }
}

.wp-block-separator {
    margin: 100px;
    border: 0px solid;
}