//IMPORTED FONTS

    //Sansita
    @import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

    //Barlow
    @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// MIXINS

@mixin heading-font {
    font-family: Sansita, 'Lucida Sans', 'Trebuchet MS';
    color: $primary-font-color;
    margin: 0;
}

@mixin paragraph-font {
    font-family: Barlow, 'Verdana', 'Tahoma';
    color: $primary-font-color;
    font-size: $small-font;
    font-weight: 800;
    margin: 0;
}

@mixin nav-font {
    @include paragraph-font;
    font-family: Barlow, 'Verdana', 'Tahoma';
    text-transform: uppercase;
    font-weight: 200;
}

@mixin link {
    text-decoration: none;
    color: $primary-font-color;
    &:hover {
        color: darken($primary-font-color, $amount: 10%);
    }
    &:active {
        color: darken($primary-font-color, $amount: 20%);
    }
}

@mixin button-text {
    @include paragraph-font;
    font-family: Barlow, 'Verdana', 'Tahoma';
    font-weight: 600;
    font-size: $medium-2-font;
    color: $secondary-font-color;
}

@mixin list {
    list-style: none;
    margin: 0;
}

/* TEXT STYLES */

h1 {
    @include heading-font;
    font-size: $x-large-font;
}

h2 {
    @include heading-font;
    font-size: $large-font;
}

h3 {
    @include paragraph-font;
    font-size: $medium-1-font;
}

h4 {
    @include paragraph-font;
    font-size: $medium-2-font;
}

h5 {
    @include paragraph-font;
    font-size: $small-font;
}

h6 {
    @include paragraph-font;
    font-size: $smaller-font;
}

p {
    @include paragraph-font;
    font-weight: 400;
}

.tiny-p {
    @include paragraph-font;
    font-size: $tiny-font;
    font-weight: 300;
}

