/* COLORS */

$primary-color: #005E7C;
$secondary-color: #2D4654;
$accent-color: #ECC30B;
$primary-font-color: #ECF2F6;
$secondary-font-color: #040F16;
$secondary-button-color: rgba(255, 255, 255, 0.5);

/* FONT SIZES */

$x-large-font: 2.75rem;
$large-font: 2.25rem;
$medium-1-font: 1.75rem;
$medium-2-font: 1.5rem;
$small-font: 1.25rem;
$smaller-font: 1rem;

